# Backup files
*~

# Desktop control files
.DS_Store
Thumbs.db
Thumbs.db:encryptable
desktop.ini
ehthumbs.db

# Compiled Python code
__pycache__/
*.py[cod]

# Jekyll build directory
/docs/_site/

# Log files
/logs/
