<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>mixtool</string>
		<key>CFBundleDisplayName</key>
		<string>Mixtool</string>
		<key>CFBundleIdentifier</key>
		<string>com.bachsau.mixtool</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>mixt</string>
		<key>CFBundleExecutable</key>
		<string>mixtool</string>
		<key>CFBundleIconFile</key>
		<string>mixtool</string>
	</dict>
</plist>
